<div class="container">



  <div style="font-size: 80px; margin-top: 10px;   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */">SELECT NUMBER OF LIVES</div>

<mat-slider min="1" max="10" step="1" showTickMarks discrete (input)="onSliderChange($event)">
  <input matSliderThumb>
</mat-slider>


  <button class="button" [routerLink]="['/player-type']" routerLinkActive="router-link-active">START</button>

  <button class="back-button" [routerLink]="['/']" routerLinkActive="router-link-active" >Back</button>

</div>
