.difficultySelectPage{

  background-color: crimson;
  width: 900px;
  height: 500px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-style: inset;
  border-width: 20px;
  border-color: rgb(143, 7, 7);
  font-family: SHATTERB;
  color: white;
  justify-content: center;


}

.button{
  width: 400px;
  height: 200px;
  border-radius: 20%;
  font-size: 80px;
  font-family: SHATTERB;
  margin: 30px;
  color: crimson;
  background-color: black;
  transition: transform 0.2s ease-in-out;
  border-style: none;

}

button:hover{
  background-color: white;
  color: crimson;
  transform: scale(1.05);
}

