.whole-body {
  display: flex;
}


.container {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  width: 1200px;
  height: 500px;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: white;
  border-radius: 5%;
  margin-right: 30px;
  align-items: center;


}

.player-label{
  font-family: SHATTERB ;
  font-size: 50px;
  color: white;
  background-color: crimson;
  border-radius: 5%;
  width: 100%;
  margin-bottom: 20px;
}
