.background{
  background-color: rgb(47, 6, 158);
  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.title {
  text-align: center;
  color: crimson;
  font-family: SHATTERB;
  font-weight: bolder;
  font-size: 100px;
  animation: pulseAnimation 0.5s infinite alternate;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}





