.helpPage{

  background-color: crimson;
  width: 900px;
  height: 500px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-style: inset;
  border-width: 25px;
  border-color: rgb(143, 7, 7);
  font-family: SHATTERB;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.back-button{
  width: 100px;
  height: 50px;
  border-radius: 20%;
  font-size: 30px;
  font-family: SHATTERB;
  color: crimson;
  background-color: black;
  transition: transform 0.2s ease-in-out;
  border-style: none;

}

button:hover{
  background-color: white;
  color: crimson;
  transform: scale(1.05);
}



